@font-face {
  font-family: 'git_nextcloud';
  src:  url('../fonts/git_nextcloud/git_nextcloud.eot?lownbh');
  src:  url('../fonts/git_nextcloud/git_nextcloud.eot?lownbh#iefix') format('embedded-opentype'),
    url('../fonts/git_nextcloud/git_nextcloud.ttf?lownbh') format('truetype'),
    url('../fonts/git_nextcloud/git_nextcloud.woff?lownbh') format('woff'),
    url('../fonts/git_nextcloud/git_nextcloud.svg?lownbh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'git_nextcloud' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Git-logo:before {
  content: "\e900";
  color: rgb(200, 200, 200);
}
.icon-Nextcloud_Logo:before {
  content: "\e901";
  color: rgb(200, 200, 200);
}
