@font-face {
  font-family: 'osuandgitlab';
  src:  url('../fonts/osuandgitlab/osuandgitlab.eot?6noun1');
  src:  url('../fonts/osuandgitlab/osuandgitlab.eot?6noun1#iefix') format('embedded-opentype'),
    url('../fonts/osuandgitlab/osuandgitlab.ttf?6noun1') format('truetype'),
    url('../fonts/osuandgitlab/osuandgitlab.woff?6noun1') format('woff'),
    url('../fonts/osuandgitlab/osuandgitlab.svg?6noun1#osuandgitlab') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osuandgitlab' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-correct_block_O:before {
  content: "\e909";
  color: rgb(200, 200, 200);
}
.icon-gitlab_logo:before {
  content: "\e907";
  color: rgb(200, 200, 200);
}
