---
layout: default
---
<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        {% if post.image %}
        <p class="post-list__post-image post-image"><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" title="{{ post.title }}"><img width=50% src="{{ site.baseurl }}{{ post.image | prepend: "images/" }}" /></a></p>
        {% endif %}
        <p class="excerpt">{{ post.description }}</p>
        <div class="post-list__meta"><time datetime="{{ post.date | date: "%b %Y" }}" class="post-list__meta--date date">{{ post.date | date: "%b %Y" }}</time> &#8226; <span class="post-meta__tags">Category: <a href="{{ site.baseurl }}categories/#{{ post.category }}">{{ post.category }}</a> </span> &#8226; <span class="post-meta__tags">Program: <a href="{{ site.baseurl }}programs/#{{ post.program }}">{{ post.program }}</a></span> &#8226; <span class="post-meta__tags">Process: <a href="{{ site.baseurl }}processes/#{{ post.process }}">{{ post.process }}</a></span></div>
        <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
