@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?brjeot');
    src:    url('fonts/icomoon.eot?brjeot#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?brjeot') format('truetype'),
        url('fonts/icomoon.woff?brjeot') format('woff'),
        url('fonts/icomoon.svg?brjeot#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-duckduckgo2 .path1:before {
    content: "\e900";
    color: rgb(207, 207, 207);
}
.icon-duckduckgo2 .path2:before {
    content: "\e901";
    margin-left: -1.1455078125em;
    color: rgb(187, 187, 187);
}
.icon-duckduckgo2 .path3:before {
    content: "\e902";
    margin-left: -1.1455078125em;
    color: rgb(154, 154, 154);
}
.icon-duckduckgo2 .path4:before {
    content: "\e903";
    margin-left: -1.1455078125em;
    color: rgb(138, 138, 138);
}
.icon-duckduckgo2 .path5:before {
    content: "\e904";
    margin-left: -1.1455078125em;
    color: rgb(119, 119, 119);
}
.icon-duckduckgo2 .path6:before {
    content: "\e905";
    margin-left: -1.1455078125em;
    color: rgb(115, 115, 115);
}
.icon-duckduckgo2 .path7:before {
    content: "\e906";
    margin-left: -1.1455078125em;
    color: rgb(110, 110, 110);
}
.icon-Reddit_logo2 .path1:before {
    content: "\e907";
    color: rgb(206, 206, 206);
}
.icon-Reddit_logo2 .path2:before {
    content: "\e908";
    margin-left: -0.8798828125em;
    color: rgb(174, 174, 174);
}
.icon-Reddit_logo2 .path3:before {
    content: "\e909";
    margin-left: -0.8798828125em;
    color: rgb(254, 148, 109);
}
.icon-Reddit_logo2 .path4:before {
    content: "\e90a";
    margin-left: -0.8798828125em;
    color: rgb(146, 146, 146);
}
.icon-Reddit_logo2 .path5:before {
    content: "\e90b";
    margin-left: -0.8798828125em;
    color: rgb(254, 109, 57);
}
.icon-Reddit_logo2 .path6:before {
    content: "\e90c";
    margin-left: -0.8798828125em;
    color: rgb(113, 113, 113);
}
.icon-Reddit_logo2 .path7:before {
    content: "\e90d";
    margin-left: -0.8798828125em;
    color: rgb(4, 4, 4);
}
.icon-Buckeyes_logo .path1:before {
    content: "\e90e";
    color: rgb(255, 255, 255);
}
.icon-Buckeyes_logo .path2:before {
    content: "\e90f";
    margin-left: -1.0615234375em;
    color: rgb(153, 0, 0);
}
.icon-Buckeyes_logo .path3:before {
    content: "\e910";
    margin-left: -1.0615234375em;
    color: rgb(153, 0, 0);
}
.icon-Buckeyes_logo .path4:before {
    content: "\e911";
    margin-left: -1.0615234375em;
    color: rgb(153, 153, 153);
}
.icon-Buckeyes_logo .path5:before {
    content: "\e912";
    margin-left: -1.0615234375em;
    color: rgb(153, 153, 153);
}
.icon-Buckeyes_logo .path6:before {
    content: "\e913";
    margin-left: -1.0615234375em;
    color: rgb(153, 153, 153);
}
.icon-Buckeyes_logo .path7:before {
    content: "\e914";
    margin-left: -1.0615234375em;
    color: rgb(153, 153, 153);
}
.icon-Buckeyes_logo .path8:before {
    content: "\e915";
    margin-left: -1.0615234375em;
    color: rgb(35, 31, 32);
}
.icon-Buckeyes_logo .path9:before {
    content: "\e916";
    margin-left: -1.0615234375em;
    color: rgb(0, 0, 0);
}
.icon-safe .path1:before {
    content: "\e917";
    color: rgb(200, 200, 200);
}
.icon-safe .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(188, 188, 188);
}
.icon-safe .path3:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(146, 146, 146);
}
.icon-safe .path4:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(137, 137, 137);
}
.icon-safe .path5:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(120, 120, 120);
}
.icon-safe .path6:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(103, 103, 103);
}
.icon-safe .path7:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(87, 87, 87);
}
.icon-firefox:before {
    content: "\e91e";
}

