@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lownbh');
  src:  url('fonts/icomoon.eot?lownbh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lownbh') format('truetype'),
    url('fonts/icomoon.woff?lownbh') format('woff'),
    url('fonts/icomoon.svg?lownbh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Git-logo:before {
  content: "\e900";
}
.icon-Nextcloud_Logo:before {
  content: "\e901";
}

