<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>
  
<header class="panel-cover" style="background-image: url({{ "images/cover.jpg" | prepend: site.baseurl }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}" title="{{ site.author.name }}">
          <img src="{{ "images/profile.jpg" | prepend: site.baseurl }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.author.name }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}#blog" title="Blog" class="blog-button">Blog</a></li>
            </ul>
          </nav>

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

            {% if site.author.twitter_username %}
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} on Twitter" target="_blank">
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.linkedin_username %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank">
                  <i class="icon icon-social-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            {% endif %}

              <!-- Arch News Archives -->
              <li class="navigation__item">
                <a href="https://archlinux.org/news" title="Arch News" target="_blank">
                  <i class="FontMfizz icon-archlinux" style="color:white"></i>
                  <span class="label">Arch News</span>
                </a>
              </li>

              <!-- Duckduckgo -->
              <li class="navigation__item">
                <a href="https://duckduckgo.com" title="DuckDuckGo" target="_blank">
                  <i class="icomoon icon-duckduckgo2"></i>
                  <span class="label">DuckDuckGo</span>
                </a>
              </li>

              <!-- Reddit -->
              <li class="navigation__item">
                <a href="http://www.reddit.com/user/SMACz42/m/front" title="Reddit" target="_blank">
                  <i class="icomoon icon-Reddit_logo2"></i>
                  <span class="label">Reddit</span>
                </a>
              </li>

              <!-- Git -->
              <li class="navigation__item">
                <a href="https://gitlab.com/smacz42" title="Gitlab" target="_blank">
                  <i class="git_nextcloud icon-Git-logo"></i>
                  <span class="label">Git</span>
                </a>
              </li>

              <!-- Nextcloud -->
              <li class="navigation__item">
                <a href="https://andrewcz.com/nextcloud" title="Nextcloud" target="_blank">
                  <i class="git_nextcloud icon-Nextcloud_Logo"></i>
                  <span class="label">Nextcloud</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
