@font-face {
  font-family: 'osuandgitlab';
  src:  url('fonts/osuandgitlab.eot?tle367');
  src:  url('fonts/osuandgitlab.eot?tle367#iefix') format('embedded-opentype'),
    url('fonts/osuandgitlab.ttf?tle367') format('truetype'),
    url('fonts/osuandgitlab.woff?tle367') format('woff'),
    url('fonts/osuandgitlab.svg?tle367#osuandgitlab') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osuandgitlab' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gitlab_logo .path1:before {
  content: "\e900";
  color: rgb(178, 161, 145);
}
.icon-gitlab_logo .path2:before {
  content: "\e901";
  margin-left: -1.0888671875em;
  color: rgb(178, 161, 145);
}
.icon-gitlab_logo .path3:before {
  content: "\e902";
  margin-left: -1.0888671875em;
  color: rgb(179, 179, 179);
}
.icon-correct_block_O .path1:before {
  content: "\e908";
  color: rgb(252, 252, 252);
}
.icon-correct_block_O .path2:before {
  content: "\e909";
  margin-left: -0.775390625em;
  color: rgb(249, 249, 249);
}
.icon-correct_block_O .path3:before {
  content: "\e90a";
  margin-left: -0.775390625em;
  color: rgb(243, 243, 243);
}
.icon-correct_block_O .path4:before {
  content: "\e90b";
  margin-left: -0.775390625em;
  color: rgb(235, 235, 235);
}
.icon-correct_block_O .path5:before {
  content: "\e90c";
  margin-left: -0.775390625em;
  color: rgb(227, 227, 227);
}
.icon-correct_block_O .path6:before {
  content: "\e90d";
  margin-left: -0.775390625em;
  color: rgb(219, 219, 219);
}
.icon-correct_block_O .path7:before {
  content: "\e90e";
  margin-left: -0.775390625em;
  color: rgb(212, 212, 212);
}
.icon-correct_block_O .path8:before {
  content: "\e90f";
  margin-left: -0.775390625em;
  color: rgb(202, 202, 202);
}
.icon-correct_block_O .path9:before {
  content: "\e910";
  margin-left: -0.775390625em;
  color: rgb(195, 195, 195);
}
.icon-correct_block_O .path10:before {
  content: "\e911";
  margin-left: -0.775390625em;
  color: rgb(187, 187, 187);
}
.icon-correct_block_O .path11:before {
  content: "\e912";
  margin-left: -0.775390625em;
  color: rgb(179, 179, 179);
}
.icon-correct_block_O .path12:before {
  content: "\e913";
  margin-left: -0.775390625em;
  color: rgb(172, 172, 172);
}
.icon-correct_block_O .path13:before {
  content: "\e914";
  margin-left: -0.775390625em;
  color: rgb(163, 163, 163);
}
.icon-correct_block_O .path14:before {
  content: "\e915";
  margin-left: -0.775390625em;
  color: rgb(155, 155, 155);
}
.icon-correct_block_O .path15:before {
  content: "\e916";
  margin-left: -0.775390625em;
  color: rgb(147, 147, 147);
}
.icon-correct_block_O .path16:before {
  content: "\e917";
  margin-left: -0.775390625em;
  color: rgb(139, 139, 139);
}
.icon-correct_block_O .path17:before {
  content: "\e918";
  margin-left: -0.775390625em;
  color: rgb(133, 133, 133);
}
.icon-correct_block_O .path18:before {
  content: "\e919";
  margin-left: -0.775390625em;
  color: rgb(129, 129, 129);
}
.icon-correct_block_O .path19:before {
  content: "\e91a";
  margin-left: -0.775390625em;
  color: rgb(124, 124, 124);
}
.icon-correct_block_O .path20:before {
  content: "\e91b";
  margin-left: -0.775390625em;
  color: rgb(114, 114, 114);
}
.icon-correct_block_O .path21:before {
  content: "\e91c";
  margin-left: -0.775390625em;
  color: rgb(108, 108, 108);
}
.icon-correct_block_O .path22:before {
  content: "\e91d";
  margin-left: -0.775390625em;
  color: rgb(99, 99, 99);
}
.icon-correct_block_O .path23:before {
  content: "\e91e";
  margin-left: -0.775390625em;
  color: rgb(91, 91, 91);
}
.icon-correct_block_O .path24:before {
  content: "\e91f";
  margin-left: -0.775390625em;
  color: rgb(83, 83, 83);
}

