---
layout: default
---
<h2>Categories:</h2>
<div class="categories"> 
{% for catitem in site.categories %} 
  <a href="#{{  catitem[0] }}">{{  catitem[0] }}</a>
{% endfor %}
</div>

<!-- iterate through all categories on the site --> 
{% for catitem in site.categories %} 
  <!-- for each tag, create an anchor by using the tag name as an id --> 
  <div id="{{ catitem[0] }}">  
    <h3> {{ catitem[0] }} </h3>  <!-- for create a heading --> 

    <ul> <!-- create the list of posts -->
      <!-- iterate through all the posts on the site --> 
      {% for post in site.posts %} 
        <!-- list only those which contain the current tag --> 
        {% if post.categories contains catitem[0] %} 
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endfor %}
