---
layout: default
---
<article class="post-container post-container--single">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%b %Y" }}" class="post-meta__date date">{{ page.date | date: "%b %Y" }}</time> &#8226; <span class="post-meta__tags">Category: <a href="{{ site.baseurl }}categories/#{{ page.category }}">{{ page.category }}</a></span> &#8226; <span class="post-meta__tags">Program: <a href="{{ site.baseurl }}programs/#{{ page.program }}">{{ page.program }}</a></span> &#8226; <span class="post-meta__tags">Process: <a href="{{ site.baseurl }}processes/#{{ page.process }}">{{ page.process }}</a></span>

    </div>
    <p class="excerpt">{{ page.description }}</p>
  </header>

  <section class="post">
    {{ content }}
  </section>

</article>
